## Colors
​
### Primary
​
- Soft Blue: hsl(243, 86%, 85%)
- Very Dark Blue: hsl(243, 87%, 12%)
​
### Accent
​
- Green: hsl(163, 95%, 43%)
- Dark Blue: hsl(243, 58%, 33%)
​
### Neutral
​
- Gray: hsl(0, 0%, 50%)
​
## Typography
​
### Headings
​
- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 700
​
### Body
​
- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700

html{
	padding: 0;
}

body{
	max-width: 100%;
	margin: 0 auto;
}

header{
	width: 100%;
	color: white;
	background-color: hsl(243, 58%, 33%);
	background-image: linear-gradient(75deg, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
	padding-bottom: 25px;
}

#logo{
	padding-left: 20px;
	padding-top: 30px;
	float: left;
}

.clear{
	clear: both;
}

nav{
	float: right;
	padding-top: 30px;
}
nav ul li{
	display: inline-block;
	padding-right: 40px;
	list-style-type: none;
}

a:link {
	color: white;
	text-decoration: none;
  	text-align: center;
}
.boardme{
	background-color: hsl(163, 95%, 43%);
	padding: 8px 15px ;
}

#left-aside{
	padding-left: 20px;
	width: 35%;
	float: left;
}

.button{
	color: white;
	background-color: hsl(163, 95%, 43%);
	padding: 0 40px;
}

#right-aside{
	float: right;
	width: 40%
	padding-right: 20px;

}

#hero{
	max-width: 60%;
}

main{
	width: 100%;
}

.section{
	max-width: 25%;
	float: left;
	padding-left: 10px;
}

#features{
	max-width: 70%;
	padding-top: 30px;
	padding-left: 25px
}

#second{
	margin-left: 30px;
}

#last{
	margin-left: 100px;
}

main h2{
	margin : 10px auto 5px auto;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}

#stand-alone{
	margin: 20px auto;
	width: 50%;
	text-align: center;
}

form input[type=text] {
	width: 300px;
}

form button{
	width: 150px;
	height: 30px;
}


footer{
	width: 100%;
	color: white;
	background-color: hsl(243, 58%, 33%);
	padding-bottom: 25px;

	
}

footer .section{
	width: 30%;
	float: left;
	padding-left: 50px;
	padding-top: 100px;
	padding-bottom: 30px;
	
}


footer #right{
	margin-right: 0;
	text-align: left;
}



